# Регистрация нового пользователя.

1.Сервис ориентирован на ру пользователя.
2.Учесть что могут быть имена в разном формате, двойное имя, отчество может отсутствовать.
3.Возраст может быть от 16 лет включительно.
4.Русский паспорт со стандартами русского паспорта.


phone_number string Example"+79998887766" в апи будет без +7. Кол-во символов 10, только цифры, поле должно быть уникальным.
firstname string Кол-во символов 255, только кириллица, от 2 символов включительно.
lastname string Кол-во символов 255, только кириллица, от 2 символов включительно.
patronymic string or None Кол-во символов 255, только кириллица, от 2 символов включительно, поле не обязательное.
birthday stringdate формат iso.
passport_serial string 4 цифры не меньше не больше.
passport_number string 6 цифр не меньше не больше.
password string от 9 символов,хотя бы один спецсимвол,хотя бы одна цифра, только латиница, один символ в верхнем регистре.
id integer autoincrement



ДЗ:
1.Написать чек-лист проверок по прямым и по косвенным требованиям.
Написать нубовские тесты сплошняком.

2.Отрефакторить весь код.